body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form-container {
    background-color: white;
    padding: 50px;
    text-align: center;
}

input {
    width: 200px;
    margin: 10px 0px;
    padding: 10px;
}

input[type=submit] {
    width: 225px;
    background-color: cadetblue;
    color: white;
    border: 0px;
    font-size: 20px;

}

.error {
    color: red;
    margin: 0px;
    text-align: left;
}
